---
title: so you want to try science
---
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="indigo">
        <div class="nav-wrapper">
          <a class="brand-logo center" href="/">{{ page.title }}</a>
        </div>
      </nav>
    </div>
    <div class="container">
      <h2 class="center header indigo-text">Intrygujące eksperymenty<small>, za które <strong><em>może</em></strong> nie dostaniesz oceny niedostatecznej</h2>
      <h5>Na tej stronie znajdziesz opisy i różnych doświadczeń wykonanych przez uczniów klasy 2d <small>mat-fiz-inf</small> <a href="http://lo01.pl">I Liceum Ogólnokształcącego im. Stanisława Staszica w Lublinie</a> w roku szkolnym 2015/16.</h5>
    </div>
    <div class="container-fluid">
      <div class="row">
        {% assign posts = site.posts %}
        {% for post in posts %}{% unless post.secret %}
        <div class="col s12 m3">
          <div class="card indigo">
            {% if post.thumbnail %}
            <div class="card-image">
              <img src="{{ post.thumbnail }}" style="max-height:300px">
              <span class="card-title {{ post.thumbnailtextcolor }}">{{ post.nickname }}</span>
            </div>
            <div class="card-content white-text">
              <p>{{ post.title }}</p>
            </div>
            {% else %}
            <div class="card-content white-text">
              <span class="card-title">{{ post.nickname }}</span>
              <p>{{ post.title }}</p>
            </div>
            {% endif %}
            <div class="card-action">
              <a href="{{ post.url }}">Do tablicy</a>
            </div>
          </div>
        </div>
        {% endunless %}{% endfor %}
      </div>
    </div>
    {% include footer.html %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  </body>
</html>
