---
title: so you want to try science
---
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="indigo">
        <div class="nav-wrapper">
          <a class="brand-logo center" href="/">{{ page.title }}</a>
        </div>
      </nav>
    </div>
    <div class="container-fluid">
      <div class="row">
        {% assign posts = site.posts %}
        {% for post in posts %}
        <div class="col s12 m3 l2">
          <div class="card indigo">
            {% if post.thumbnail %}
            <div class="card-image">
              <img src="{{ post.thumbnail }}" style="max-height:300px">
              <span class="card-title {{ post.thumbnailtextcolor }}">{{ post.nickname }}</span>
            </div>
            <div class="card-content white-text">
              <p>{{ post.title }}</p>
            </div>
            {% else %}
            <div class="card-content white-text">
              <span class="card-title">{{ post.nickname }}</span>
              <p>{{ post.title }}</p>
            </div>
            {% endif %}
            <div class="card-action">
              <a href="{{ post.url }}">Do tablicy</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% include footer.html %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  </body>
</html>
