    <meta charset="utf-8">
    <title>{{ page.title }} | iwanttotry.science</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://iwanttotry.science{{ page.url }}">
    <meta property="og:locale" content="pl_PL">
    <meta property="og:site_name" content="IWantToTry.Science">
    <style>.chip { margin-right: 10px; }
      body { display: flex; min-height: 100vh; flex-direction: column; }
      main { flex: 1 0 auto; }
    </style>
