<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | iwanttotry.science</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://iwanttotry.science{{ page.url }}">
    <meta property="og:locale" content="pl_PL">
    <meta property="og:site_name" content="IWantToTry.Science">
    <style>.chip { margin-right: 10px; }</style>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a class="brand-logo center" href="/">iwanttotry.science</a>
        </div>
      </nav>
    </div>
    <div class="container">
      <h1>{{ page.title }}</h1>
      Wykonanie: {% for author in page.authors %}<div class="chip">{{ author }}</div>{% endfor %}
      <main class="flow-text">
        {{ content }}
      </main>
    </div>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        "HTML-CSS": {mtextFontInherit: true},
        SVG: {mtextFontInherit: true}
      });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&locale=pl"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/unveil/1.3.0/jquery.unveil.min.js"></script>
    <script>$(document).ready(function() { $("img[data-src]").unveil(); });</script>
  </body>
</html>
